<template>
  <v-container fluid fill-height pa-0>
    <v-layout>
      <v-flex xs12 pa-0>
        <v-card class="fill-height">
          <v-container grid-list-md text-xs-center>
            <self-invite/>
            <add-friend/>
            <v-layout>
              <v-flex xs12 py-0>
                <v-card>
                  <v-container fluid pa-0>
                    <search-friend/>
                    <guest-list/>
                  </v-container>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
import addFriend from '@/components/addFriend'
import guestList from '@/components/guestList'
import searchFriend from '@/components/searchFriend'
import selfInvite from '@/components/selfInvite'

export default {
  name: 'App',
  components: {
    addFriend,
    guestList,
    searchFriend,
    selfInvite
  }
}
</script>
