<template>
  <v-container fluid fill-height class="login">
    <v-layout align-center justify-center>
      <v-flex xs12 sm6 md4 class="text-xs-center">
        <v-card class="background-white">
          <!-- <v-card-title primary-title class="pb-0">
            <v-container fluid pa-0>
              <v-layout row wrap>
                <v-flex xs12 class="text-xs-center title">
                  <h1>Lista</h1>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-title> -->
          <v-card-text>
            <v-container fluid pa-0>
              <v-layout row wrap>
                <v-flex>
                  <v-btn :loading="loading" :disabled="loading" @click="facebook" color="primary">
                    <span slot="loader" class="loading-button">
                      Facebook
                      <v-progress-linear :indeterminate="true" height="2"></v-progress-linear>
                    </span>
                  Facebook</v-btn>
                </v-flex>
                <v-flex>
                  <v-btn :loading="loading" dark :disabled="loading" @click="google" color="red darken-1">
                    <span slot="loader" class="loading-button">
                      Google +
                      <v-progress-linear :indeterminate="true" height="2"></v-progress-linear>
                    </span>
                    Google +</v-btn>
                </v-flex>
              </v-layout>
              <v-layout row wrap class="divider-login" mt-2 mb-2>
                <v-divider></v-divider>
                <v-flex shrink pl-2 pr-2>
                  <h3>OU</h3>
                </v-flex>
                <v-divider></v-divider>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field solo label="Email"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-text-field solo label="Senha" type="password"></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-btn color="primary" @click="notImplemented">
                    Entrar
                  </v-btn>
                </v-flex>
                <v-flex xs12 mt-1>
                  <a href="#" @click="notImplemented" class="grey--text">
                    Esqueceu a senha?
                  </a>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import firebase from 'firebase/app'
import { mapActions } from 'vuex'
export default {
  props: {
    company: {
      type: String
    },
    event: {
      type: String
    },
    invitation: {
      type: String
    }
  },
  data () {
    return {
      loading: true
    }
  },
  methods: {
    ...mapActions('user', ['setUser']),
    ...mapActions('guests', ['setKeys']),
    notImplemented () {
      this.$store.commit('snackbar/SHOW_MESSAGE', {
        text: 'Não implementado',
        color: 'error'
      })
    },
    google () {
      this.loading = true
      const provider = new firebase.auth.GoogleAuthProvider()
      firebase.auth().signInWithRedirect(provider).then(result => {
        this.$router.push({
          name: 'guests'
        })
      }).catch(error => {
        this.$store.commit('snackbar/SHOW_MESSAGE', {
          text: 'Erro ao conectar',
          color: 'error'
        })
        console.log(error)
      })
    },
    facebook () {
      this.loading = true
      const provider = new firebase.auth.FacebookAuthProvider()
      firebase.auth().signInWithRedirect(provider).then(result => {
        this.$router.push({
          name: 'guests'
        })
      }).catch(error => {
        this.$store.commit('snackbar/SHOW_MESSAGE', {
          text: 'Erro ao conectar',
          color: 'error'
        })
        console.log(error)
      })
    }
  },
  mounted () {
    this.setKeys({
      company: this.company,
      event: this.event,
      invitation: this.invitation
    })
    firebase.auth().onAuthStateChanged((user) => {
      if (!user) {
        this.loading = false
      } else {
        this.setUser(user)
      }
    })
  }
}
</script>

<style lang="css">
.divider-login .v-divider{
  margin-top: 10px;
}
.divider-login {
  border-color: #9e9e9e!important;
  color: #9e9e9e!important;
}
.background-white {
  background: white;
}
.theme--dark .background-white {
  background: #424242;
}

.login {
  background: linear-gradient(0deg,#2373d9 0,#72afd3)
}
.loading-button div{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin: 0;
}
</style>
