<template lang="html">
  <v-layout>
    <v-flex xs12 mb-3 v-if="ticketsLeft !== 0">
      <v-text-field
      hide-details
      label="Nome do convidado"
      prepend-inner-icon="add"
      solo
      block
      class="mb-2"
      v-model="name"
      ></v-text-field>
      <v-btn @click="setGuest">adicionar</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  data () {
    return {
      name: ''
    }
  },
  methods: {
    ...mapActions('guests', ['addGuest']),
    setGuest () {
      this.addGuest({name: this.name})
      this.name = ''
    }
  },
  computed: {
    ...mapGetters('guests', ['ticketsLeft'])
  }
}
</script>

<style lang="css">
.v-list__tile--active{
}
.ajust-padding-list a.v-list__tile.v-list__tile--link {
  padding: 0
}
</style>
