<template lang="html">
  <v-autocomplete
      hide-selected
      :value="guests"
      class="ajust-padding-list"
      :items="friends"
      color="blue-grey lighten-2"
      label="Nome"
      item-text="name"
      item-value="name"
      return-object
      multiple
      @update:searchInput="searchName = $event"
    >
    <template slot="selection" slot-scope="data"></template>
      <template slot="no-data">
        <v-list-tile @click="addFriend" v-if="searchName !== null">
          <v-list-tile-title>
            <strong>{{ searchName }} adicionar</strong>
          </v-list-tile-title>
        </v-list-tile>
        <v-list-tile v-else>
        </v-list-tile>
      </template>
      <template
        slot="item"
        slot-scope="{item}"
      >
      <div class="v-list__tile" style="width:100%;" @click="addFacebookFriend(item)">
        <template v-if="typeof item !== 'object'">
          <v-list-tile-content v-text="item"></v-list-tile-content>
        </template>
        <template v-else>
          <v-list-tile-avatar color="grey darken-2">
            <img :src="`https://graph.facebook.com/${item.id}/picture`" v-if="item.id">
            <span style="color:#ffffffb3" v-else>{{ item.name[0] }}</span>
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title v-html="item.name"></v-list-tile-title>
            <v-list-tile-sub-title>Amigo do facebook</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      </div>
      </template>
    </v-autocomplete>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  data () {
    return {
      searchName: ''
    }
  },
  computed: {
    ...mapGetters('guests', ['guests', 'friends'])
  },
  methods: {
    ...mapActions('guests', ['addGuest']),
    addFacebookFriend (value) {
      this.addGuest(value)
    },
    addFriend () {
      let name = []
      for(let char of this.searchName.split(' ')){
        name.push(char[0].toUpperCase() + char.slice(1))
      }
      name = name.join(' ')
      this.addGuest({
        name
      })
    },
  }
}
</script>

<style lang="css">
.v-list__tile--active{
}
.ajust-padding-list a.v-list__tile.v-list__tile--link {
  padding: 0
}
</style>
