<template lang="html">
  <v-layout>
    <v-flex xs12>
      <v-list>
        <v-list-tile avatar  v-for="(friend, index) in guestsFilter"
        :key="index">
        <v-list-tile-avatar :color="friend.avatar === undefined ? 'grey darken-1' : null">
          <img :src="friend.avatar" v-if="friend.avatar">
          <span style="color:#ffffffb3" v-else>{{ friend.name[0] }}</span>
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>{{ friend.name }}</v-list-tile-title>
        </v-list-tile-content>
        <v-list-tile-action>
          <v-icon @click="removeGuest(friend)">close</v-icon>
        </v-list-tile-action>
      </v-list-tile>
    </v-list>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  methods: {
    ...mapActions('guests', ['bindGuests', 'removeGuest'])
  },
  computed: {
    ...mapGetters('guests', ['guestsFilter'])
  },
  mounted () {
    this.bindGuests()
  }
}
</script>

<style lang="css">

</style>
