<template lang="html">
  <v-layout v-if="ticketsLeft === false">
    <v-flex xs12 py-0>
      <v-text-field
        flat
        solo
        box
        hide-details
        prepend-inner-icon="search"
        placeholder="Procurar..."
        :value="search"
        @input="SET_SEARCH"
      ></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
export default {
  methods: {
    ...mapMutations('guests', ['SET_SEARCH'])
  },
  computed: {
    ...mapGetters('guests', ['search', 'ticketsLeft'])
  }
}
</script>

<style lang="css">
/* fix */
.v-input__prepend-inner input{
  margin-top: 0;
}
</style>
