<template lang="html">
  <v-layout row wrap>
    <v-flex xs12>
      Olá,
      <!-- <span>
        <img v-if="user !== {}" :src="`${user.photoURL}`" alt="">
      </span> -->
      {{ user.displayName }}
    </v-flex>
    <v-flex xs12 v-if="!userIsGoing">
      <v-btn @click="addMySelf">Eu vou</v-btn>
    </v-flex>
    <v-flex xs12 v-if="ticketsLeft !== false">
      {{ ticketsLeft }} convites restantes
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions('guests', ['addGuest']),
    addMySelf () {
      if (this.user !== null) {
        this.addGuest({
          uid: this.user.uid,
          name: this.user.displayName,
          avatar: this.user.photoURL
        })
      }
    }
  },
  computed: {
    ...mapGetters('guests', ['userIsGoing', 'ticketsLeft']),
    ...mapGetters('user', ['user'])
  }
}
</script>

<style lang="css">
</style>
