<template>
  <v-app>
    <v-slide-x-transition>
      <router-view class="child-view"></router-view>
    </v-slide-x-transition>
    <!-- <v-snackbar :timeout="2000" :color="color" :value="visibility" @input="HIDE_MESSAGE">
     {{ text }}
    </v-snackbar> -->
  </v-app>
</template>

<script>
import firebase from 'firebase/app'

export default {
  name: 'App'
}
</script>

<style media="screen">
.child-view {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}
.application.theme--light{
  background-color: transparent!important
}
</style>
